.city-img {
    width: 20px;
}
.current-day-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
/*.left-arrow {*/
    /*float: left;*/
    /*margin-top: 40px;*/
    /*margin-left: 200px;*/
/*}*/
/*.right-arrow {*/
    /*float: right;*/
    /*margin-top: 40px;*/
    /*margin-right: 200px;*/
/*}*/
.arrow {
    width: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.five-days-table {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    max-width: 100%;
}

.date:first-child {
    border-left: 1px solid black;
}
.date {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}
p.date {
    margin: 0;
}
.day-time {
    display: inline-block;
    font-size: 10px;
}
.day-time>p {
    margin: 0;
}
.day-time>img {
    width: 27px;
}
.temp-color-cold {
    background-color: #b9e88b;
}
.temp-color-normal {
    background-color: #f7e53b;
}
.temp-color-heat {
    background-color: #f3a536;
}
.wnd-spd-row {
    text-align: center;
    border: 1px solid black ;
}

.precips {
    border: 1px solid black;
    border-top: none;
    background-color: #d8d8d8;
    text-align: center;
}
.wnd-spd-block {
    margin: 0;
    display: inline-block;
    background-color: #d8d8d8;
}
.precip-value {
    margin: 0;
    display: inline-block;
}
.sun-moon {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 5px;
}
.today {
    float: left;
    margin-left: 5px;
    padding: 10px;
}
.today {
    width: 50%;
    text-align: center;
}
.sun-and-moon {
    width: 49%;
    text-align: center;
}
.sun-and-moon-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
}
.sun {
    display: flex;
    align-items: center;
    width: 50%;
}
.sun-info {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.sun>img {

}
.moon {
    display: flex;
    align-items: center;
    width: 50%;
}
.moon-info {
    display: flex;
    flex-direction: column;
}
/*.moon>img {*/
    /*float: left;*/
    /*margin-top: 1em;*/
    /*margin-right: 10px;*/
/*}*/

.current {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
}
.current>p, article>p {
    margin: 0;
}

/*.current-day-time{*/
    /*float: left;*/
    /*margin-left: 16px;*/
    /*margin-right: 16px;*/
/*}*/

section.current-date {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.day-blocks{
}
.day-block{
    border: 1px solid black;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px;
    margin-bottom: 5px;
}

.current-day{
    background-color: darkseagreen;
}

p.current-date{
    background-color: darkseagreen;
}
.current-day-time {
    padding: 5px;
}