body {
    width: 800px;
}

.wrap {
    width: 800px;
    border: 1px solid black;
}

.navigation {
    border-bottom: 1px solid black;
    padding: 10px;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
}

.search_string {
    border-bottom: 1px solid black;
    padding: 10px;
}
.search {
    float: right;
}

.left-block {
    display: inline-block;
    height: 150px;
    
}

.current_t {
    display: inline-block;
    float: right;
    
}

.right-block {
    float: right;
    height: 150px;
    width: 50%;
}

.inner-navigation {
    padding-top: 40px;
}
.content {    
    padding: 10px;
    height: 400px;
}

.chart {
    border: 1px solid black;
}
.time {
    display: inline-block;
    width: 90px;
}

.day {
    display: inline-block;
    width: 90px;
}

.day:hover {
    outline: 1px solid gray;
}
.every-day-weather {
    text-align: center;
    margin-top: 100px;
}
footer{
    display: block;
    padding: 10px 0;
    background-color: gray;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 800px;
}