body {
    max-width: 80%;
    font-family: Arial, serif;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.navigation {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #d8d8d8;
    /*display: flex;*/
    /*justify-content: flex-start;*/
    display: inline-block;
}
.btn {
    padding: 5px 10px;
}

.search_string {
    padding: 10px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}
.search {
    width: 100%;
    padding: 5px;
    margin-top: -5px;
    border-radius: 5px;
    background-color: #e4e4e4;
}
.search-bar {
    display: flex;

}
.search-bar::before {
    content: url('../assets/iconfinder.png');
}

.left-block {
    display: inline-block;
    width: 50%;
}

.current_temp {
    display: flex;
}
.current_t {
    display: inline-block;
    font-size: 20px;
    align-self: center;
    margin-left: 5px;
}

.right-block {
    display: inline-block;

    width: 50%;
}

.inner-navigation {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.info {
    display: flex;
}
.content {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.checked{
    background-color: #979797;
}
figure {
    display: flex;
    justify-content: center;

}
.chart {
    width: 80%;
    display: none;
}

.visible{
    display: flex;
}

.times {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.week-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.day {
    display: inline-block;
    width: 90px;
    text-align: center;
}

p.day-of-week {
    margin: 5px;
}
p.temp-range {
    margin: 5px;
}
.day:hover {
    outline: 1px solid gray;
}

#spinner {
    position: fixed;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 16px solid white;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
}
footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    background-color: #d6d6d6;
}

.probability-precip {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}

.humidity {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}
.wnd-spd {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}
.city {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}
.day-week {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}
.weather {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5em;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    body {
        max-width: 100%;
        margin: 0;
    }
    .navigation {
        flex-direction: column;
        padding: 5px 10px;
    }
    .btn {
        width: 100%;
        margin-bottom: 1px;
    }
    .search_string {
        flex-direction: column;
    }
    .search-bar {
        margin-top: 10px;
    }
    .info {
        flex-direction: column;
    }
    .left-block {
        width: 100%;
    }
    .right-block {
        width: 100%;
    }
    .times {
        display: none;
    }
    figure {
        display: none;
    }
    .week-info {
        flex-direction: column;
    }
    .day {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid black;
    }
    .day:first-child {
        border-top: 1px solid black;
    }
    .day:last-child {
        border-bottom: none;
    }
    .inner-navigation {
        flex-direction: column;
        margin: 10px;
    }
    .city {
        font-size: 1em;
    }
    .sun-moon {
        flex-direction: column;
        border: none;
        border-bottom: 1px solid black;
    }
    .sun-and-moon-info {
        flex-direction: column;
    }
    .sun, .moon {
        width: 100%;
        border-top: 1px solid black;
    }
    section>img {
        width: 70px;
    }
    .table {
        width: 100%;
        border-right: none;
        border-left: none;
    }
    .date:last-child {
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    body {
        max-width: 100%;
        margin: 0;
    }
    .navigation {
        flex-direction: row;
    }
    .search_string {
        flex-direction: column;
    }
    .search-bar {
        margin-top: 10px;
    }
    .btn {
        flex-grow: 1;
        margin-right: 10px;
    }
    .inner-navigation {
        flex-direction: column;
    }
    .sun-and-moon-info {
        flex-direction: column;
    }
    .sun, .moon {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    body {
        max-width: 100%;
        margin: 0;
    }
    .navigation {
        flex-grow: 1;
    }

    .btn {
        margin-right: 10px;
    }
    .inner-navigation {
        flex-direction: column;
    }
    .times {
        margin-top: 20px;
    }
    .week-info {
        margin: 20px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .btn {
        flex-grow: 1;
        margin-right: 10px;
    }
    .charts-and-info {
        display: flex;
        flex-direction: column;
    }
    .times {
        margin-top: 20px;
    }
    .week-info {
        margin: 20px 0;
    }

}