body {
    width: 800px;
    font-family: Arial, serif;
    margin: 0 auto;
}

.header {
    width: 798px;
    border: 1px solid black;
}

.navigation {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #d8d8d8;
}

.btn {
    padding: 5px 10px;
}

.search_string {
    padding: 10px;
    background-color: #f2f2f2;
}
.search {
    float: right;
    padding: 5px;
    margin-top: -5px;
    border-radius: 5px;
    background-color: #e4e4e4;
}

.left-block {
    display: inline-block;
    height: 150px;
}

.current_t {
    display: inline-block;
    float: right;
    
}

.right-block {
    display: inline-block;
    float: right;
    height: 150px;
    width: 50%;
}

.inner-navigation {
    padding-top: 40px;
}

.content {    
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.chart {
    border: 1px solid black;
}

.time {
    display: inline-block;
    width: 90px;
}

.day {
    display: inline-block;
    width: 90px;
    text-align: center;
}

p.day-of-week {
    margin: 5px;
}
p.temp-range {
    margin: 5px;
}
.day:hover {
    outline: 1px solid gray;
}
.every-day-weather {
    text-align: center;
    margin-top: 50px;
}
footer{
    display: block;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    background-color: #d6d6d6;
}

.probability-precip {

}

.humidity {

}
.city {

}



